 # Notebook describtion

 In this notebook database with table structure is created. Data will be uploaded in another notebook. 
  
 File that consists the structure of database: `sql/database_schema.sql`.

 Libraries import and loading enviroment variables

In [4]:
from psycopg2 import connect
from dotenv import load_dotenv
from os import environ

In [5]:
dotenv_path = '../.env'
load_dotenv(dotenv_path)

True

In [6]:
username = environ.get('db_username')
password = environ.get('db_password')

host = environ.get('db_host')
database = environ.get('db_database')

Defining variables with database credentials

In [7]:
con = connect(user=username,
                password=password,
                host=host,
                database=database)
cursor = con.cursor()

 ## Uploading `database_schema.sql`

In [8]:
sql_code = ''
with open(r'..\sql\database_schema.sql', 'r') as my_sql:
    code = my_sql.read().replace('\n', ' ')
    sql_code = f"{sql_code}{code}"
print(sql_code)

DROP TABLE IF EXISTS public.aircraft CASCADE; CREATE TABLE IF NOT EXISTS public.aircraft (     id serial,     manufacture_year bigint,     tail_num text,     number_of_seats double precision ) ;  CREATE OR REPLACE VIEW public.v_aircraft_blocker AS SELECT 1 FROM public.aircraft LIMIT 1;  DROP TABLE IF EXISTS public.airport_weather CASCADE; CREATE TABLE IF NOT EXISTS public.airport_weather (     id serial,     station text,     name text,     date text,     awnd double precision,     pgtm double precision,     prcp double precision,     snow double precision,     snwd double precision,     tavg double precision,     tmax double precision,     tmin double precision,     wdf2 double precision,     wdf5 double precision,     wsf2 double precision,     wsf5 double precision,     wt01 double precision,     wt02 double precision,     wt03 double precision,     wt04 double precision,     wt05 double precision,     wt06 double precision,     wt07 double precision,     wt08 double precision,     wt09 double precision,     wesd double precision,     wt10 double precision,     psun double precision,     tsun double precision,     sn32 double precision,     sx32 double precision,     tobs double precision,     wt11 double precision,     wt18 double precision ) ;  /* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/ CREATE OR REPLACE VIEW public.v_aircraft_weather_blocker AS SELECT 1 FROM public.airport_weather LIMIT 1;  DROP TABLE IF EXISTS public.flight CASCADE; CREATE TABLE IF NOT EXISTS public.flight (     id serial,     month bigint,     day_of_month bigint,     day_of_week bigint,     op_unique_carrier text,     tail_num text,     op_carrier_fl_num bigint,     origin_airport_id bigint,     dest_airport_id bigint,     crs_dep_time bigint,     dep_time double precision,     dep_delay_new double precision,     dep_time_blk text,     crs_arr_time bigint,     arr_time double precision,     arr_delay_new double precision,     arr_time_blk text,     cancelled double precision,     crs_elapsed_time double precision,     actual_elapsed_time double precision,     distance double precision,     distance_group bigint,     carrier_delay double precision,     weather_delay double precision,     nas_delay double precision,     security_delay double precision,     late_aircraft_delay double precision,     year bigint ) ;  /* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/ CREATE OR REPLACE VIEW public.v_flight_blocker AS SELECT 1 FROM public.flight LIMIT 1;  DROP TABLE IF EXISTS public.airport_list CASCADE; CREATE TABLE IF NOT EXISTS public.airport_list (     id serial,     origin_airport_id bigint,     display_airport_name text ,     origin_city_name text ,     name text  ) ;  CREATE OR REPLACE VIEW public.v_airport_list_blocker AS SELECT 1 FROM public.airport_list LIMIT 1

Splitting file content to different querries using ';'

In [9]:
sql_code = sql_code.split(';')
sql_code

['DROP TABLE IF EXISTS public.aircraft CASCADE',
 ' CREATE TABLE IF NOT EXISTS public.aircraft (     id serial,     manufacture_year bigint,     tail_num text,     number_of_seats double precision ) ',
 '  CREATE OR REPLACE VIEW public.v_aircraft_blocker AS SELECT 1 FROM public.aircraft LIMIT 1',
 '  DROP TABLE IF EXISTS public.airport_weather CASCADE',
 ' CREATE TABLE IF NOT EXISTS public.airport_weather (     id serial,     station text,     name text,     date text,     awnd double precision,     pgtm double precision,     prcp double precision,     snow double precision,     snwd double precision,     tavg double precision,     tmax double precision,     tmin double precision,     wdf2 double precision,     wdf5 double precision,     wsf2 double precision,     wsf5 double precision,     wt01 double precision,     wt02 double precision,     wt03 double precision,     wt04 double precision,     wt05 double precision,     wt06 double precision,     wt07 double precision,     wt08 double precision,     wt09 double precision,     wesd double precision,     wt10 double precision,     psun double precision,     tsun double precision,     sn32 double precision,     sx32 double precision,     tobs double precision,     wt11 double precision,     wt18 double precision ) ',
 '  /* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/ CREATE OR REPLACE VIEW public.v_aircraft_weather_blocker AS SELECT 1 FROM public.airport_weather LIMIT 1',
 '  DROP TABLE IF EXISTS public.flight CASCADE',
 ' CREATE TABLE IF NOT EXISTS public.flight (     id serial,     month bigint,     day_of_month bigint,     day_of_week bigint,     op_unique_carrier text,     tail_num text,     op_carrier_fl_num bigint,     origin_airport_id bigint,     dest_airport_id bigint,     crs_dep_time bigint,     dep_time double precision,     dep_delay_new double precision,     dep_time_blk text,     crs_arr_time bigint,     arr_time double precision,     arr_delay_new double precision,     arr_time_blk text,     cancelled double precision,     crs_elapsed_time double precision,     actual_elapsed_time double precision,     distance double precision,     distance_group bigint,     carrier_delay double precision,     weather_delay double precision,     nas_delay double precision,     security_delay double precision,     late_aircraft_delay double precision,     year bigint ) ',
 '  /* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/ CREATE OR REPLACE VIEW public.v_flight_blocker AS SELECT 1 FROM public.flight LIMIT 1',
 '  DROP TABLE IF EXISTS public.airport_list CASCADE',
 ' CREATE TABLE IF NOT EXISTS public.airport_list (     id serial,     origin_airport_id bigint,     display_airport_name text ,     origin_city_name text ,     name text  ) ',
 '  CREATE OR REPLACE VIEW public.v_airport_list_blocker AS SELECT 1 FROM public.airport_list LIMIT 1']

Executing every query

In [10]:
for query in sql_code:
    cursor.execute(query)

Confirmation

In [11]:
con.commit()

Closing the connection

In [15]:
con.close()

Wszystko wygląda OK :) Możesz przejść do kolejnego zadania.